###
# Eclipse
###
.classpath
.cproject
.project
.settings
bin/

###
# IntelliJ
###
*.iml
.idea

###
# Maven
###
target/
target.*/

###
# Maven shade plugin
###
*dependency-reduced-pom.xml

###
# Build artifacts
###
*.class
*.o
*.so
*.jar


###
# vi(m) temp files
###
*.swp
*.swo
*.swn

###
# Visual Studio
###
.vscode/

###
# Misc files
###
org.kde.konsole.desktop


# Misc
.AppleDouble/
.factorypath
build.out
hs_err_*.log
.openapi-generator/


